.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  background-color: var(--Verydarkblue);
  z-index: 99;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  transform: translateY(5px);
  font-size: 2.2rem;
}

.close {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .modal {
    padding-top: 40px;
  }
}
