.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.addBtn {
  background-color: transparent;
  padding: 10px 0;
  margin-right: 8px;
  max-width: 125px;
  width: 100%;
  border-radius: 15px;
  font-size: 1.4rem;
  border: 4px solid var(--PaleBlue);
  color: var(--PaleBlue);
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.addBtn:hover {
  background-color: var(--Violet);
  border: 4px solid var(--Violet);
  color: white;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
